name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  python:
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v4"
      - uses: "actions/setup-python@v5"
        with:
          python-version: 3.12
      - name: install
        run: "python -m pip install -U pip && (test -f requirements.txt && pip install -r requirements.txt || true) && (test -f pyproject.toml && pip install -e . || true) && (test -f setup.py && pip install -e . || true)"
      - name: tests
        run: python -m pytest -q
        continue-on-error: true
      - name: compileall
        run: python -m compileall -q .
